name: Build and Push Helm Chart
on:
  push:
    branches: ["main"]
  workflow_dispatch:
jobs:
  package:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      
      - name: Install Helm
        uses: azure/setup-helm@v3
        with:
          version: v3.12.0
          
      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_TOKEN }}
          
      - name: Login to Helm Registry
        env:
          HELM_REGISTRY_PASSWORD: ${{ secrets.DOCKER_TOKEN }}
        run: |
          echo "${HELM_REGISTRY_PASSWORD}" | helm registry login registry-1.docker.io -u ${{ secrets.DOCKER_USERNAME }} --password-stdin
      
      - name: Package and Push Helm Chart
        run: |
          sed -i "s|{{ version }}|${{ github.run_number }}|g" ./comments-chart/Chart.yaml
          helm package ./comments-chart
          helm push ./comments-chart-${{ github.run_number }}.tgz oci://registry-1.docker.io/${{ secrets.DOCKER_USERNAME }}
