name: Deploy All Services
on:
  push:
    branches: ["main"]
  workflow_dispatch:
jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Install Helm
        uses: azure/setup-helm@v3
        with:
          version: v3.12.0

      - name: Login to OpenShift
        uses: redhat-actions/oc-login@v1
        with:
          openshift_server_url: ${{ secrets.OPENSHIFT_SERVER }}
          openshift_token: ${{ secrets.OPENSHIFT_TOKEN }}

      - name: Clone Microservices
        run: |
          git clone https://github.com/danielopezh/comments-database.git database
          git clone https://github.com/danielopezh/comments-backend-data.git backend-data
          git clone https://github.com/danielopezh/comments-backend-api.git backend-api
          git clone https://github.com/danielopezh/comments-frontend.git frontend
          git clone https://github.com/danielopezh/comments-network.git network

      - name: Deploy Database
        run: |
          cd database
          TAG=$(cat values.yaml | grep "tag:" | cut -d' ' -f2)
          sed "s/{{ tag }}/$TAG/g" oc.yaml | oc apply -f -

      - name: Deploy Backend Data
        run: |
          cd backend-data
          TAG=$(cat values.yaml | grep "tag:" | cut -d' ' -f2)
          sed "s/{{ tag }}/$TAG/g" oc.yaml | oc apply -f -

      - name: Deploy Backend API
        run: |
          cd backend-api
          TAG=$(cat values.yaml | grep "tag:" | cut -d' ' -f2)
          sed "s/{{ tag }}/$TAG/g" oc.yaml | oc apply -f -

      - name: Deploy Frontend
        run: |
          cd frontend
          TAG=$(cat values.yaml | grep "tag:" | cut -d' ' -f2)
          sed "s/{{ tag }}/$TAG/g" oc.yaml | oc apply -f -

      - name: Deploy Network Policies
        run: |
          cd network
          helm upgrade --install network-policies . -f values.yaml
