name: Deploy All Services
on:
  push:
    branches: ["main"]
  workflow_dispatch:
jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Install Helm
        uses: azure/setup-helm@v3
        with:
          version: v3.12.0

      - name: Login to OpenShift
        uses: redhat-actions/oc-login@v1
        with:
          openshift_server_url: ${{ secrets.OPENSHIFT_SERVER }}
          openshift_token: ${{ secrets.OPENSHIFT_TOKEN }}

      - name: Clone Charts Repository
        run: |
          git clone https://github.com/danielopezh/reto.git charts-repo

      - name: Deploy All Services
        run: |
          # Deploy database
          helm upgrade --install database ./charts-repo/charts/microservice-chart -f ./charts-repo/values/database/values.yaml
          
          # Deploy backend-data
          helm upgrade --install backend-data ./charts-repo/charts/microservice-chart -f ./charts-repo/values/backend-data/values.yaml
          
          # Deploy backend-api
          helm upgrade --install backend-api ./charts-repo/charts/microservice-chart -f ./charts-repo/values/backend-api/values.yaml
          
          # Deploy frontend
          helm upgrade --install frontend ./charts-repo/charts/microservice-chart -f ./charts-repo/values/frontend/values.yaml
          
          # Deploy network policies
          helm upgrade --install network-policies ./charts-repo/charts/network-chart -f ./charts-repo/values/network/values.yaml
